@*@using WebPresentations.Helpers*@
@{
    ViewBag.Title = "Web Presentations";
}

<script src="@Url.Content("~/scripts/bootstrap/jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/cloud/cloud.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/tagcloud.css")" rel="stylesheet">

<script type="text/javascript">
    GetTags();
</script>

<div class="container" id="tagCloud">
    <div class="hero-unit" style="background:white" >
        <div id="tag_holder" class="container"></div>			
         <div id="loading" style="display:none" align="center" valign="center">
            <img src="../../Content/ajax-loader.gif" />
        </div>
    </div>
    <div class="row">

        <div class="span4">
            <h2>@ViewRes.SharedLayoutStrings.Create</h2>
            <p>@ViewRes.SharedLayoutStrings.CreateDetails </p>
            <p><a class="btn" href="../Editor/Create" >@ViewRes.SharedLayoutStrings.Create »</a></p>
        </div>
        <div class="span4">
            <h2>@ViewRes.SharedLayoutStrings.Browse</h2>
            <p>@ViewRes.SharedLayoutStrings.BrowseDetails </p>
            <p><a class="btn" href="../Editor/../Gallery/Index">@ViewRes.SharedLayoutStrings.Browse »</a></p>
        </div>
        <div class="span4">
            <h2>@ViewRes.SharedLayoutStrings.Find</h2>
            <p>@ViewRes.SharedLayoutStrings.FindDetails </p>
            <p><a class="btn" href="../Gallery/Index">@ViewRes.SharedLayoutStrings.Find »</a></p>
        </div>
    </div>

    <hr>

</div>