@model PagedList.IPagedList<WebPresentations.ViewModels.GalleryViewModel>
@using WebPresentations.Helpers
@{
    ViewBag.Title = "Gallery";
    ViewBag.RedirectRoute = "Index";
}
<script src="../../Scripts/views/gallery.js" type="text/javascript"></script>
<style>
    p.description
    {
        font-size: 10px;
    }
    .title
    {
        font-size: 12px;
        margin: 0;
    }
</style>
<div class="page-header">
    <h2>
        Presentations gallery</h2>
</div>
@if (Model.Count != 0)
{    
    <div class="hero-unit">
        <div class="container-fluid">
            @foreach (var item in Model)
            {
                <div class="span3" >
                    <a href = "@Url.Action("Preview", new { id = item.Presentation.PresentationId })" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="" />
                    </a>
                    <h2 class="title">@Html.Truncate(item.Presentation.Title, 30)</h2>
                    <p class="description">@Html.Truncate(item.Presentation.Description, 20)</p>
                    <div class="row">
                        <div class="span0">
                            <a href = "@Url.Action("Preview", new { id = item.Presentation.PresentationId })" class="btn btn-primary btn-small">
                                Preview &raquo;</a>
                        </div>
                        <div class="span0">
                            @if (Request.IsAuthenticated)
                            {
                                if(!item.IsUserDependant)
                                {
                                    <a id = "qbutton-@item.Presentation.PresentationId" class="btn btn-success btn-small" onclick =" LikeIt(@item.Presentation.PresentationId,@item.Presentation.LikedUsers.Count)"><i class="icon-thumbs-up icon-white"></i></a>
                                }
                                else
                                {
                                    <a id="likeDisabled" class="btn btn-success btn-small disabled"><i class="icon-thumbs-up icon-ok-sign">
                                    </i></a>                                        
                                }
                            }
                            else
                            {
                                <a id="likeDisabled" class="btn btn-success btn-small disabled"><i class="icon-thumbs-up icon-ok-sign">
                                </i></a>                                
                            }
                            <b id="qtext-@item.Presentation.PresentationId">@item.Presentation.LikedUsers.Count Liked</b>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            }
        </div>
    </div>
    @Html.Partial("_PageNavigatorPartial")
}
else
{
    <h3>Sorry, nothing was found.. :(</h3>
}