@if (Request.IsAuthenticated)
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user">
    </i>@User.Identity.Name <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @if (User.IsInRole("Administrator"))
        {
            
            <li><a href="@Url.Action("Index", "AdministrativeTool")" style="color:red"><i class="icon-wrench"></i> <b>@ViewRes.SharedLayoutStrings.AdministrativeTool</b></a></li>
            <li class="divider"></li>            
        }
        <li><a href="@Url.Action("Index", "Profile")"><i class="icon-briefcase"></i> @ViewRes.SharedLayoutStrings.Profile</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("LogOff", "Account")"><i class="icon-off"></i> @ViewRes.SharedLayoutStrings.LogOut</a></li>
    </ul>    
}
else
{    
    <a class="btn dropdown-toggle" href="@Url.Action("LogOn", "Account")"><i class="icon-lock"></i> @ViewRes.SharedLayoutStrings.LogOn</a>
}
