@{
    ViewBag.Title = "Profile";
}
<div class="page-header">
    <h2>My Profile</h2>
</div>
<ul id="profileTab" class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("Index")"><i class="icon-info-sign"></i> Profile</a></li>
    <li><a href="@Url.Action("Settings")"><i class="icon-wrench"></i> Settings</a></li>
    <li><a href="@Url.Action("Presentations")"><i class="icon-hdd"></i> My Presentations</a></li>
</ul>
<div id="profileTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="profile">
        <p></p>
        <h3>Hello, <strong>@User.Identity.Name</strong></h3>
        <p></p>
        <p><span class="label label-info">Information</span></p>
        <h5>Email:</h5><h6>@ViewBag.Email</h6>
        <h5>Member since:</h5><h6>@ViewBag.MemberSince</h6>
        <p></p>
        <span class="label label-success">Presentations: </span>
        <p></p>
        You have <span class="badge badge-success">@ViewBag.PresentationsCount</span> presentations in your profile
        <p></p>
    </div>    
</div>
